@import "./../../styles/colors.scss";

.todo-form {
  display: flex;
  flex-direction: column;

  & > * {
    margin-bottom: 20px;
  }

  &__body-field > textarea {
    min-height: 180px;
  }

  &__row {
    display: flex;
    align-items: center;

    .todo-form__date-field {
      width: 126px;
    }

    .todo-form__select {
      width: 100%;
      max-width: 380px;
      min-width: 180px;
      margin-left: 40px;
      margin-right: auto;
      background-color: $color-white;
    }

    .todo-form__submit {
      margin-left: 40px;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .todo-form__date-field,
      .todo-form__select,
      .todo-form__submit {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}
