@import "./../../styles/colors.scss", "./../../styles/base.scss";

.button {
  @include button;
  background-color: $color-primary;
  border: 1px solid $color-primary;
  color: $color-white;

  &.outline {
    background-color: transparent;
    border: 1px solid $color-primary;
    color: $color-dark;
  }

  &.light {
    color: $color-dark;
  }
}
