@import "./colors.scss";

@mixin main-container {
  max-width: 940px;
  margin: 0 auto;

  @media (max-width: 1024px) {
    padding: 0 10px;
  }
}

@mixin button($small: false) {
  border-radius: 4px;
  font-size: 16px;
  line-height: 16px;
  padding: 16px 25px;
  cursor: pointer;
  transition: opacity 0.1s ease-in-out;

  @if $small {
    font-size: 14px;
    line-height: 16px;
    padding: 12px 20px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: 768px) {
    font-size: 14px;
    line-height: 14px;
    padding: 12px 18px;

    @if $small {
      font-size: 11px;
      line-height: 12px;
      padding: 8px 14px;
    }
  }
}

@mixin marker($left: 20px) {
  content: "";
  position: absolute;
  background-color: $color-secondary;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: $left;
  top: 50%;
  transform: translateY(-50%);
}
