$color-primary: #204969;
$color-secondary: #08ffc8;
$color-secondary_light: #ccfff4;
$color-gray: #dadada;
$color-white: #ffffff;
$color-dark: #333333;
$color-text: #666666;
$color-divider: #999999;
$color-error: red;

$color-background: #f7f9fc;
