@import "./colors.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: $color-text;
  font-size: 15px;
  line-height: 20px;
  margin: 0;
}

button {
  font-family: "Roboto", sans-serif;
}
