@import "./../../styles/colors.scss";

$color-option_active: #cce9ff;
$color-title: #969696;

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  .head {
    font-size: 17px;
    line-height: 19px;
    padding: 18px calc(19px + 21px + 14px) 18px 19px;
    border: 1px solid #cdd1d4;
    border-radius: 4px;
    background: none;
    position: relative;
    color: #000;
    cursor: pointer;
    text-align: left;

    &:hover {
      opacity: 0.8;
    }

    &:focus {
      outline: 5px solid $color-primary;
    }

    &:after {
      content: "";
      display: block;
      background-image: url(./../../assets/icons/Arrow.svg);
      background-repeat: no-repeat;
      width: 21px;
      height: 12px;
      position: absolute;
      top: 50%;
      right: 14px;
      transform: translateY(-50%);
      transition: transform 300ms ease;
      transform-origin: center;
    }

    &.open::after {
      transform: translateY(-50%) rotateX(180deg);
    }

    .title {
      font-size: 10px;
      line-height: 13px;
      color: $color-title;
      position: absolute;
      top: 3px;
      left: 19px;
      pointer-events: none;
    }
  }

  .options {
    width: 100%;
    opacity: 0;
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    user-select: none;
    z-index: -1;
    top: 100%;
    transition: opacity 0.3s ease;

    &.optionsOpen {
      opacity: 1;
      z-index: 1;
    }

    .option {
      display: flex;
      padding: 18px 20px;
      font-size: 17px;
      line-height: 17px;
      cursor: pointer;
      background: none;
      border: none;
      width: 100%;

      &.activeOption {
        padding-left: 43px;
        background-image: url(./../../assets/icons/Check.svg);
        background-repeat: no-repeat;
        background-position: top 50% left 20px;
      }

      &:hover {
        background-color: $color-option_active;
      }
    }
  }
}
