@import "./../../styles/colors.scss", "./../../styles/base.scss";

.todos-list {
  padding: 20px 0;

  .todo-card:not(:last-child) {
    margin-bottom: 40px;
  }
}

.todo-card {
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-dark;

    .todo-card__title {
      font-size: 28px;
      line-height: 1;
      font-weight: 700;
    }

    .todo-card__info {
      display: flex;

      .todo-card__info-badge {
        background-color: $color-secondary-light;
        padding: 13px 20px;
        border-radius: 4px;

        &--dark {
          background-color: $color-secondary;
        }

        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }
  }

  &__body {
    margin-bottom: 30px;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .todo-card__action {
      &:not(:last-child) {
        margin-right: 20px;
      }

      &--link {
        @include button;
        text-decoration: none;
        border: 1px solid $color-primary;
        color: $color-primary;
      }
    }
  }

  @media (max-width: 768px) {
    &__header {
      flex-direction: column;

      .todo-card__info {
        .todo-card__info-badge {
          padding: 4px 6px;
          font-size: 11px;

          &:not(:last-child) {
            margin-right: 6px;
          }
        }
      }
    }
  }

  &__actions {
    .todo-card__action {
      &:not(:last-child) {
        margin-right: 6px;
      }
    }
  }
}
