@import "./../../styles/base.scss", "./../../styles/colors.scss";

.todo-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .todo-page-header__title {
    font-size: 24px;
    line-height: 1;
    position: relative;
    padding-left: 20px;
    color: #000;

    &::before {
      @include marker($left: 0);
    }
  }

  .todo-page-header__cancel {
    @include button;
    text-decoration: none;
    background-color: $color-gray;
    color: $color-dark;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    border-bottom: 1px solid $color-divider;
  }
}
