@import "./../../styles/base.scss", "./../../styles/colors.scss";

.header {
  width: 100%;
  box-shadow: 0 4px 10px -10px rgba(0, 0, 0, 0.9);
  background-color: $color-white;

  .inner {
    @include main-container;

    .title {
      font-size: 24px;
      font-weight: 900;
      line-height: 1;
      padding: 38px 0;
      color: $color-dark;
    }
  }
}
