@import "./../../styles/base.scss", "./../../styles/colors.scss";

.todo-list-page {
  display: flex;
  flex-direction: column;

  &__add-button {
    @include button;
    display: flex;
    margin-bottom: 60px;
    text-decoration: none;
    background-color: $color-primary;
    color: $color-white;
    justify-content: center;
  }

  @media (max-width: 768px) {
    &__add-button {
      margin-bottom: 30px;
    }
  }
}
