@import "./../../styles/colors.scss";
$color-todo-filter-item: #aeaeae;

.todos-filter {
  display: flex;
  justify-content: space-between;

  &__item {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    line-height: 1;
    font-weight: 500;
    color: $color-todo-filter-item;
    position: relative;
    padding: 18px 40px;
    display: flex;
    align-items: center;
    position: relative;
    transition: color 0.2s ease-in-out;

    &:not(:first-child)::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      height: 100%;
      border-left: 1px solid #999;
    }

    &:hover {
      color: $color-primary;
    }

    &--active {
      color: $color-dark;
      & > span:before {
        content: "";
        position: absolute;
        background-color: $color-secondary;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;

    &__item {
      &:not(:first-child)::before {
        display: none;
      }
    }
  }
}
