@import "./../../styles/base.scss", "./../../styles/colors.scss";

.wrapper {
  background-color: $color-background;
  width: 100%;
  min-height: 100vh;

  .contentWrapper {
    margin-top: 40px;

    .content {
      @include main-container;
    }
  }
}
