@import "./../../styles/colors.scss";

.text-field {
  position: relative;

  .text-field__error {
    display: none;
  }

  &--error {
    .text-field__input {
      border: 1px solid $color-error;
    }

    .text-field__error {
      display: block;
      position: absolute;
      top: 100%;
      width: 100%;
      font-size: 12px;
      color: $color-error;
      padding: 0 10px;
    }
  }

  &__input {
    width: 100%;
    font-size: 17px;
    line-height: 19px;
    padding: 16px 19px;
    border: 1px solid #cdd1d4;
    border-radius: 4px;

    &:focus {
      outline: 5px solid $color-primary;
      border: 1px solid transparent;
    }
  }

  &__placeholder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 19px;
    right: 0;
    pointer-events: none;
    overflow: hidden;
    transition: all 300ms ease;
  }

  textarea + .text-field__placeholder {
    top: 20px;
    transform: translateY(-50%);
  }

  .text-field__input:not(:placeholder-shown) + .text-field__placeholder,
  .text-field__input:focus + .text-field__placeholder {
    top: 10px;
    font-size: 10px;
    line-height: 13px;
  }
}
